span.reais {
	color:green;
	font-size: 28px;
}

span.centavos {
	color:green;
	font-size: 25px;
}

span.simbolo {
	color:green;
	font-style: bold;
}

span.gratuito {
	font-size: 28px;
	color:green;
}
div.desfazerinsc {
	margin-left: 15px;
}